{{define "page.header"}}
<p>
	The current user is: {{.user.Username}}
</p>
{{end}}

{{define "page.main"}}

<style>
body {
	font-family: sans-serif;
}
		ul.alarm {
			padding: 0;
			margin: 0;
			margin-bottom: 3px;
			display: flex;
			flex-wrap: wrap;
		}
		ul.alarm li {
			display: inline-block;
			flex-grow: 1;
			margin: 0px 3px;
			padding-right: 3px;
			border: solid #ddd 1px;
			border-radius: 3px;
		}
		.alarm span {
			background: #eee;
			padding: 0px 3px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			font-style: italic;
			display: inline-block;
			height: 100%;
		}
		table.alarm {
			width: 100%;
			border-collapse: collapse;
		}
		table.alarm td {
			margin: 0px 0px;
			padding: 3px;
			padding-left: 0px;
			border: solid #ddd 1px;
			border-radius: 3px;
			position: relative;
		}
		.alarm {
			border-left: solid lightgreen 5px;
		}
		.alarm.overdue {
			border-left: solid darkred 5px;
			color: darkred;
			font-weight: bold;
		}
		table.alarm.cancelled tr {
			border-left: solid lightgrey 5px;
		}
</style>
<h1>
	<code>WiP</code>: Work in Peace
</h1>

<h2>
	Start new alarm
</h2>

<style>
form {
	display: flex;
}

form input, form button {
	margin: 0 1em;
}
form input[type="text"]{
	flex-grow: 1;
}
</style>

<form action="/alarm" method="POST">
	Deadline:
	<input
		required
		type="datetime-local"
		name="deadline"
		value="{{.new_alarm.proposed_datetime}}"
		{{/* min="{{.new_alarm.min_datetime}}" */}}
		{{/* step="900" */}} >

	<input
		type="text"
		name="description"
		Value="{{.proposed_description}}"
		placeholder="Description..." >

	<button type="submit" name="alarm" value="start">Start a new alarm</button>
</form>


<h2>
	Active alarms
</h2>
{{/*
<ul>
	{{range $a := .alarms.active}}
	<li>
		{{template "component.alarm.as-ul" $a }}
	</li>
	{{else}}
	<p>
		No active alarms
	</p>
	{{end}}
</ul>
*/}}
<table class="alarm">
	{{range $a := .alarms.active}}
		{{template "component.alarm.as-tr" $a }}
	{{end}}
<table>

<h2>
	Cancelled alarms
</h2>
{{/*
<ul>
	{{range $a := .alarms.cancelled}}
	<li>
		{{template "component.alarm.as-ul" $a }}
	</li>
	{{else}}
	<p>
		No active alarms
	</p>
	{{end}}
</ul>
*/}}
<table class="alarm cancelled">
	{{range $a := .alarms.cancelled}}
		{{template "component.alarm.as-tr" $a }}
	{{end}}
<table>
{{end}}
