{{define "page.header"}}

<div class="hero">
	<image src="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⏰</text></svg>">
	<h1>Work in Peace</h1>
</div>

<nav class="nav sm-dp-none">
	<ul>
		<li>
			<a href="#">Home</a>
		</li>
		<li>
			<a href="#">My Channels</a>
		</li>
		<li>
			<a href="#">Eventlog</a>
		</li>
	</ul>
</nav>

<div class="userinfo sm-dp-none">
	{{.user.Username}}
</div>
{{end}}

{{define "page.main"}}


<h2>Active Alarms</h2>
{{range $a := .alarms.active}}
	{{template "component.alarm.card" $a }}
{{else}}
<div class="value-na">
No Active alarms
</div>
{{end}}

<h2>My Recent History</h2>
{{range $a := .alarms.cancelled}}
	{{template "component.alarm.card" $a }}
{{else}}
<div class="value-na">
No History
</div>
{{end}}

{{end}}
